* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    color: #ff2c2c;
}

.navbar a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    color: #ff2c2c;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    padding: 0 8%;
    gap: 80px;
}

.image-circle {
    width: 350px;
    height: 350px;
}

.image-circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: radial-gradient(circle, dark gray, #020617);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-circle img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}




/* RIGHT CONTENT */
.hero-right h1 {
    font-size: 42px;
}

.hero-right span {
    color: #ff2c2c;
}

.hero-right h2 {
    margin: 10px 0;
}

.hero-right p {
    max-width: 420px;
    line-height: 1.6;
    color: #cbd5e1;
}

/* SOCIALS */
.socials {
    margin: 20px 0;
}

.socials a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #ff2c2c;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ff2c2c;
    margin-right: 10px;
    text-decoration: none;
}

/* BUTTON */
.btn {
    background: transparent;
    border: 1px solid #ff2c2c;
    color: #ff2c2c;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: #ff2c2c;
    color: #000;
}